In [1]:
import pymongo
import pandas as pd

In [2]:
dburl = 'mongodb://localhost:27017'
mymongo = pymongo.MongoClient(dburl)

dbs = mymongo.list_database_names()
dbs

['Kampus',
 'admin',
 'config',
 'jule',
 'local',
 'pymongodb',
 'resto',
 'tokoonline']

In [3]:
mydb = mymongo['pymongodb']
mycol = mydb['colmong']
alldata = list(mycol.find())
alldata

[{'_id': ObjectId('5ddc8eede3603b0f157fbe5f'),
  'nama': 'Andi',
  'usia': 19.0,
  'kota': 'Jakarta'},
 {'_id': ObjectId('5ddc8eede3603b0f157fbe60'),
  'nama': 'Tralala',
  'usia': 25.0,
  'kota': 'Bandung'},
 {'_id': ObjectId('5ddc8eede3603b0f157fbe61'),
  'nama': 'Caca',
  'usia': 31.0,
  'kota': 'Bandung'},
 {'_id': ObjectId('5ddc975350bb79d20cb45168'),
  'nama': 'Tralala',
  'usia': 23,
  'kota': 'Surabaya'},
 {'_id': ObjectId('5ddc975350bb79d20cb45169'),
  'nama': 'Tralala',
  'usia': 26,
  'kota': 'Nganjuk'},
 {'_id': ObjectId('5ddc9a01dce34b332f6267cb'),
  'nama': 'Tralala',
  'usia': 23,
  'kota': 'Surabaya'},
 {'_id': ObjectId('5ddc9a01dce34b332f6267cc'),
  'nama': 'Tralala',
  'usia': 26,
  'kota': 'Nganjuk'},
 {'_id': ObjectId('5ddc9b01c7ff8ae45ff7b88e'), 'nama': 'Cinta'},
 {'_id': ObjectId('5ddc9b0f751e2c2a150e80eb'), 'nama': 'Cinta'}]

In [4]:
df = pd.DataFrame(alldata)
df

                        _id     nama  usia      kota
0  5ddc8eede3603b0f157fbe5f     Andi  19.0   Jakarta
1  5ddc8eede3603b0f157fbe60  Tralala  25.0   Bandung
2  5ddc8eede3603b0f157fbe61     Caca  31.0   Bandung
3  5ddc975350bb79d20cb45168  Tralala  23.0  Surabaya
4  5ddc975350bb79d20cb45169  Tralala  26.0   Nganjuk
5  5ddc9a01dce34b332f6267cb  Tralala  23.0  Surabaya
6  5ddc9a01dce34b332f6267cc  Tralala  26.0   Nganjuk
7  5ddc9b01c7ff8ae45ff7b88e    Cinta   NaN       NaN
8  5ddc9b0f751e2c2a150e80eb    Cinta   NaN       NaN