In [2]:
import pandas as pd
import requests

In [7]:
df = pd.read_html('http://digidb.io/digimon-list/')
df[0]

,#,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
0,1,Kuramon,Baby,Free,Neutral,2,0,590,77,79,69,68,95
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75
3,4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61
4,5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,337,Alphamon NX,Mega,Vaccine,Neutral,6,1,980,104,109,114,109,116
337,338,Crusadermon NX,Mega,Virus,Dark,6,1,1030,100,118,99,109,121
338,339,Leopardmon NX,Mega,Data,Light,6,1,960,109,112,91,116,126
339,340,Omnimon NX,Mega,Vaccine,Light,6,1,1010,98,116,111,111,113
340,341,Gallantmon NX,Mega,Virus,Light,6,1,1070,93,122,109,111,108

In [ ]:
df = pd.read_html('http://digidb.io/digimon-list/')
df[0].to_json(
    'digilist.json',
    orient = 'records')

In [4]:
url = 'https://pokemondb.net/pokedex/all'
x = requests.get(url)
df = pd.read_html(x.text)
df = df[0].set_index('#')
df

,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
#,,,,,,,,,
1,Bulbasaur,Grass Poison,318,45,49,49,65,65,45
2,Ivysaur,Grass Poison,405,60,62,63,80,80,60
3,Venusaur,Grass Poison,525,80,82,83,100,100,80
3,Venusaur Mega Venusaur,Grass Poison,625,80,100,123,122,120,80
4,Charmander,Fire,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...
805,Stakataka,Rock Steel,570,61,131,211,53,101,13
806,Blacephalon,Fire Ghost,570,53,127,53,151,79,107
807,Zeraora,Electric,600,88,112,75,102,80,143
808,Meltan,Steel,300,46,65,65,55,35,34
809,Melmetal,Steel,600,135,143,143,80,65,34

In [6]:
df = pd.read_html('html_scrap_table.html')
df[0]

Empty DataFrame
Columns: [(NO, 1, 2), (NAMA, Rio, Reni), (USIA, 16, 18)]
Index: []