In [8]:
import pandas as pd

In [9]:
data = open('data.csv')
from csv import reader
read_file = reader(data)
app_data = list(read_file)
app_data[1:]

[['12/05/1996', 'ILHAM PRASETYO', '23 TAHUN', 'KEDIRI', 'PENS'],
 ['1/10/1997', 'YENI PUSPITASARI', '22 TAHUN', 'JOMBANG', 'UNAIR '],
 ['18/03/1998', 'AULIA CS', '21 TAHUN', 'SURABYA', 'UINSA'],
 ['13/06/2000', 'ARIAN', '19 TAHUN', 'BOGOR', 'PURWADHIKA']]

In [10]:
head = app_data[0]
head

['TTL', 'NAMA', 'USIA', 'KOTA', 'ALMAMATER']

In [11]:
dfData = pd.DataFrame(app_data[1:], columns=head)
dfData

          TTL              NAMA      USIA     KOTA   ALMAMATER
0  12/05/1996    ILHAM PRASETYO  23 TAHUN   KEDIRI        PENS
1   1/10/1997  YENI PUSPITASARI  22 TAHUN  JOMBANG      UNAIR
2  18/03/1998          AULIA CS  21 TAHUN  SURABYA       UINSA
3  13/06/2000             ARIAN  19 TAHUN    BOGOR  PURWADHIKA