In [3]:
import xlrd
import pandas as pd

In [4]:
file = xlrd.open_workbook('listLagu.xlsx')
sheet = file.sheet_by_index(0)
list1 = []
for row in range(sheet.nrows):
    out = sheet.row_values(row)
    list1.append(out)
print(list1)

[['ARTIST', 'LAGU', 'TAHUN'], ['Naff', 'Kenanglah Aku', 2017.0], ['Letto', 'Sebelum Cahaya', 2004.0], ['Melly Goeslow', 'Mungkin', 2004.0], ['Ari Lasso', 'Hampa', 2000.0], ['Utopia', 'Hujan', 2002.0], ['Element', 'Cinta Tak Bersyarat', 2004.0], ['Letto', 'Ruang Rindu', 2003.0], ['NineBall', 'Hingga Akhir Waktu', 2006.0], ['Ebiet G Ade', 'Ayah', 1990.0], ['Gleen Fredly', 'Kasih Putih', 2006.0], ['Sandy Sandoro', 'Malam Biru', 2012.0], ['Kangen Band', 'Bintang 14 Hari', 2008.0]]

In [5]:
dfData = pd.DataFrame(list1[1:], columns=(list1[0]))
dfData

           ARTIST                 LAGU   TAHUN
0            Naff        Kenanglah Aku  2017.0
1           Letto       Sebelum Cahaya  2004.0
2   Melly Goeslow              Mungkin  2004.0
3       Ari Lasso                Hampa  2000.0
4          Utopia                Hujan  2002.0
5         Element  Cinta Tak Bersyarat  2004.0
6           Letto          Ruang Rindu  2003.0
7        NineBall   Hingga Akhir Waktu  2006.0
8     Ebiet G Ade                 Ayah  1990.0
9    Gleen Fredly          Kasih Putih  2006.0
10  Sandy Sandoro           Malam Biru  2012.0
11    Kangen Band      Bintang 14 Hari  2008.0